body {
    width: 100%;
    margin-left: 120px;
}

.header {
    margin-top: 45px;
    margin-left: 120px;
}

.mainContent{
    margin-top: 31px;
    margin-left: 120px;
    margin-bottom: 50px;
}
#accept {
    width:100%;
    height: 100%;
    margin-left:auto;
    margin-right: auto;
}

x-ms-webview {
    width:100%;
    height: 100%;
}